@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CSS Currency Trader</h1>
    <p>
        Do you want to:
    </p>
    <ul>
        <li><a href="https://docs.microsoft.com/aspnet/core">Enter new trades</a></li>
        <li><a href="https://docs.microsoft.com/aspnet/core">Process the traders</a></li>
    </ul>
</div>
